
@font-face {
    font-family: Chakra;
    src: url('./assets/font/chakra/ChakraPetch-SemiBold.ttf');
}
*{
    font-family: Chakra;
}
body{
    overflow-x: hidden;
}

[data-bs-theme=dark]{
    background-image: url('./assets/img/pattern-dark.png');
    background-size: 4.678rem;
}

[data-bs-thema=light] {
    background-image: url('./assets/img/pattern-dark.png');
    background-size: 4.678rem;
}
.card-expand .app-content {
    z-index: 1120;
    position: relative;
    height: calc(100vh - 3.25rem);
    overflow: hidden
}

.card {
    --bs-border-color-rgb: var(--bs-body-color-rgb);
    position: relative;
    border: none
}

.card.border-theme {
    --bs-border-color-rgb: var(--bs-theme-rgb)
}

.card.card-expand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1120;
    border-radius: 0;
    margin: 0!important;
    padding: .3125rem;
    background: var(--bs-app-header-bg)
}

.card.card-expand .card-body,.card.card-expand .card-header {
    border-radius: 0
}

.card.card-expand .card-body {
    flex: 1 0 0;
    overflow: scroll
}

.card.card-expand:not(.border-0):before {
    top: 5px;
    bottom: 5px;
    left: 20px;
    right: 20px
}

.card.card-expand:not(.border-0):after {
    top: 20px;
    bottom: 20px;
    left: 5px;
    right: 5px
}

.card.card-expand .card-arrow {
    margin: 5px
}

.card .card-header .card-header-tabs .nav-item .nav-link.active {
    border-bottom-color: transparent
}

.card .card-body .nav-tabs .nav-item .nav-link.active {
    background: var(--bs-card-bg);
    border-bottom-color: var(--bs-card-bg)
}

.card:after,.card:before {
    content: "";
    position: absolute
}

.card:not(.border-0):before {
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    border-top: 1px solid rgba(var(--bs-border-color-rgb),.3);
    border-bottom: 1px solid rgba(var(--bs-border-color-rgb),.3)
}

.card:not(.border-0):after {
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
    border-left: 1px solid rgba(var(--bs-border-color-rgb),.3);
    border-right: 1px solid rgba(var(--bs-border-color-rgb),.3)
}

.card>:not(.card-arrow):not(.card-img-overlay):not(.card-img):not(.hljs-container) {
    position: relative;
    z-index: 10
}

.card .card-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.card .card-arrow-bottom-left,.card .card-arrow-bottom-right,.card .card-arrow-top-left,.card .card-arrow-top-right {
    width: 10px;
    height: 10px;
    position: absolute
}

.card .card-arrow-bottom-left:before,.card .card-arrow-bottom-right:before,.card .card-arrow-top-left:before,.card .card-arrow-top-right:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: rgba(var(--bs-border-color-rgb),.75)
}

.card .card-arrow-bottom-left:after,.card .card-arrow-bottom-right:after,.card .card-arrow-top-left:after,.card .card-arrow-top-right:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: rgba(var(--bs-border-color-rgb),.75)
}

.card .card-arrow-top-left,.card .card-arrow-top-right {
    top: 0
}

.card .card-arrow-top-left:before,.card .card-arrow-top-right:before {
    top: 2px
}

.card .card-arrow-top-left:after,.card .card-arrow-top-right:after {
    top: 0
}

.card .card-arrow-bottom-left,.card .card-arrow-bottom-right {
    bottom: 0
}

.card .card-arrow-bottom-left:before,.card .card-arrow-bottom-right:before {
    bottom: 2px
}

.card .card-arrow-bottom-left:after,.card .card-arrow-bottom-right:after {
    bottom: 0
}

.card .card-arrow-bottom-left,.card .card-arrow-top-left {
    left: 0
}

.card .card-arrow-bottom-left:after,.card .card-arrow-bottom-left:before,.card .card-arrow-top-left:after,.card .card-arrow-top-left:before {
    left: 0
}

.card .card-arrow-bottom-right,.card .card-arrow-top-right {
    right: 0
}

.card .card-arrow-bottom-right:after,.card .card-arrow-bottom-right:before,.card .card-arrow-top-right:after,.card .card-arrow-top-right:before {
    right: 0
}
.login{
    width: 400px;
}
@media screen and (max-width: 750px) {
    .login{
        width: 100%;
        font-size: 14px;
    }
}
.btn-outline-theme {
    outline-style: dotted;
    outline-width: 2px;
    outline-color: #249d79;
    --bs-btn-color: #249d79;
    --bs-btn-border-color: #249d79;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #249d79;
    --bs-btn-hover-border-color: #249d79;
    --bs-btn-focus-shadow-rgb: 36,157,121;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #249d79;
    --bs-btn-active-border-color: #249d79;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #249d79;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #249d79;
    --bs-gradient: none;
}
p{
    margin-bottom: unset;
}
.content.no-scrool{
    overflow:unset;
    height: max-content;
}
.sidebar{
    position: fixed;
    height: 100%;
    background-color: #0B2447;
}
.content{
    width: 100%;
    height: 90vh;
    background-color: transparent;
}
.sidebar .menu{
    position: relative;
    padding: 1rem 1rem 0.5rem;
}
.sidebar .menu .menu-header {
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
    color: var(--bs-app-sidebar-menu-header-color);
}
.sidebar .menu .menu-item .menu-link{
    display: flex;
    padding: 14px;
    margin-top: 10px;
    gap: 22px;
    font-size: 17px;
    border-radius: 5px;
    color: var(--bs-app-sidebar-menu-link-active-color);
    text-decoration: none;
    transition: 0.2s;
}
.menu-link.active{
    background-color: #249d79;
}
.menu-link.pending{
    opacity: 0.3;
}
.menu-link:hover{
    background-color: #249d79;
}
.body-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    z-index: 9999;
    color: white;
  }
  .icons{
     display: none;
     position: absolute;
     top: -15px;
     right: -10px;
  }

  .icons.act{
     display: block;
  }
  
  @media screen and (max-width: 1000px) {
    .sidebar{
        display: none;
    }
    .res{
        display: none;
    }
  }
  
.pagination-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
  }
  
  .pagination-container a {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 40px;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .pagination-container a.active {
    background-color: #13DEB9;
    color: white;
    border: 1px solid #7cbddb;
  }
  
  .pagination-container a.disabled { 
    opacity: 0.5;
  }
  .pagination-container a:hover:not(.active) {background-color: rgb(238, 238, 238); color: darkslategray;}

  .error-page{
    display: block;
    position: relative;
 }   
 .error-page h1{
    font-size: 12rem;
 }

 .list-side-nav{
    /* justify-content: end; */
    float: inline-end;
    cursor: pointer;
    display: none;
 }
 .mobile-sidenav{
    position: absolute;
    z-index: 1000;
    background-color: #0B2447;
    color: white;
    height: 100%;
 }

 @media screen and (max-width: 1000px) {
     .error-page h1{
        font-size: 8rem;
        text-align: center;
     }
     .list-side-nav{
        display: block;
     }
  }
  @media screen and (max-width: 500px) {
    .error-page h1{
       font-size: 4rem;
       text-align: center;
    }
 }